{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>eastoraDash</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/icofont.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/style.css' %}">
    <!-- Favicon Link -->
    <link rel="shortcut icon" type="image/png" href="{% static 'admin/assets/images/favicon.png' %}">
</head>

<body>
    <div class="loader">
        <div class="spinner">
            <img src="{% static 'admin/assets/images/loader.gif' %}" alt="" />
        </div>
    </div>
    <!-- Main Body -->
    <div class="page-wrapper">
        <!-- Header Start -->
        <header class="header-wrapper main-header">
            <div class="header-inner-wrapper">
                <div class="header-right">
                    <div class="serch-wrapper">
                        <form>
                            <input type="text" placeholder="Search Here...">
                        </form>
                        <a class="search-close" href="javascript:void(0);"><span class="icofont-close-line"></span></a>
                    </div>
                    <div class="header-left">
                        <div class="header-links">
                            <a href="javascript:void(0);" class="toggle-btn">
                                <span></span>
                            </a>
                        </div>
                        <div class="header-links search-link">
                            <a class="search-toggle" href="javascript:void(0);">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                                    xml:space="preserve">
                                    <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
                                    s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
                                    c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
                                    s-17-7.626-17-17S14.61,6,23.984,6z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="header-controls">


                        <div class="user-info-wrapper header-links">
                            <a href="javascript:void(0);" class="user-info">
                                <img src="{% static 'admin/assets/images/user.png' %}" alt="" class="user-img">
                                <!-- <div class="blink-animation">
                                    <span class="blink-circle"></span>
                                    <span class="main-circle"></span>
                                </div> -->
                            </a>
                            <div class="user-info-box">
                                <div class="drop-down-header">
                                    <p>Eastora Holidays</p>
                                </div>
                                <ul>
                                    <li>
                                        <a href="{% url 'admin_logout' %}">
                                            <i class="fas fa-sign-out-alt"></i> logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Sidebar Start -->
        <aside class="sidebar-wrapper">
            <div class="logo-wrapper">
                <a href="{% url 'admin_dashboard' %}" class="admin-logo">
                    <img src="{% static 'admin/assets/images/eastora-holidays-logo.webp' %}" alt="eastora-holidays" class="sp_logo">
                    <img src="{% static 'admin/assets/images/mini_logo.png' %}" alt="" class="sp_mini_logo">
                </a>
            </div>
            <div class="side-menu-wrap">
                <ul class="main-menu">
                    <li>
                        <a href="{% url 'admin_dashboard' %}" class="active">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-home">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                </svg>
                            </span>
                            <span class="menu-text">
                                Dashboard
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'admin_tourpackage_list' %}">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-package">
                                    <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                                    <path
                                        d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                                    </path>
                                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                                </svg>
                            </span>
                            <span class="menu-text">
                                Packages
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_category_list' %}">
                            <i class="fas fa-layer-group icon-menu"></i>
                            <span class="menu-text">
                                Category
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_hero_banner_list' %}">
                            <i class="far fa-images icon-menu"></i>
                            <span class="menu-text">
                                Hero Banner
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_seasonal_banner_list' %}">
                            <i class="far fa-images icon-menu"></i>
                            <span class="menu-text">
                                Seasonal Banner
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_contact_list' %}">
                            <span class="icon-menu feather-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-mail">
                                    <path
                                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                    </path>
                                    <polyline points="22,6 12,13 2,6"></polyline>
                                </svg>
                            </span>
                            <span class="menu-text">
                                Enquiry
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin_client_review_list' %}">
                            <i class="fas fa-star-half-alt icon-menu"></i>
                            <span class="menu-text">
                                Client Reviews
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </aside>
        <!-- Container Start -->
        <div class="page-wrapper">
             <div class="container mt-3">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
        </div>
            <div class="main-content">
                

                {% block content %}

                {% endblock %}
                

                <div class="eastora-footer-btm">
                    <p>Copyright 2025 © Eastora Holidays All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Preview Setting Box -->
    <div class="slide-setting-box">
        <div class="slide-setting-holder">
            <div class="setting-box-head">
                <h4>Color Options</h4>
                <a href="javascript:void(0);" class="close-btn">Close</a>
            </div>
            <div class="sd-color-op">
                <div id="style-switcher">
                    <div>
                        <ul class="colors">
                            <li>
                                <p class='colorchange' id='color'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='color2'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='color3'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='color4'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='color5'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='color6'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='color7'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='color8'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='color9'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='color10'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='color11'>
                                </p>
                            </li>
                            <li>
                                <p class='colorchange' id='style'>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Preview Setting -->


    <!-- Script Start -->
    <!-- <script src="{% static 'admin/assets/js/jquery.min.js' %}" type="bc9b58ddeb3be575ac8f762f-text/javascript"></script>
    <script src="{% static 'admin/assets/js/bootstrap.min.js' %}" type="bc9b58ddeb3be575ac8f762f-text/javascript"></script> -->
    <!-- Custom Script -->
    <!-- <script src="{% static 'admin/assets/js/custom.js' %}" type="bc9b58ddeb3be575ac8f762f-text/javascript"></script> -->
    <!-- <script src="{% static 'admin/assets/js/rocket-loader.min.js' %}" data-cf-settings="bc9b58ddeb3be575ac8f762f-|49" defer></script> -->
    
    <!-- Script Start -->
    <script src="{% static 'admin/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/custom.js' %}"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        $('.toggle-featured').on('change', function () {
            let packageId = $(this).data('id');
            let isFeatured = $(this).is(':checked');

            $.ajax({
                url: "{% url 'toggle_featured_status' %}",
                type: "POST",
                data: {
                    'id': packageId,
                    'is_featured': isFeatured,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log("Status updated");
                },
                error: function (xhr) {
                    alert("Something went wrong!");
                }
            });
        });
    });
    </script>

    <script>
$(document).ready(function () {
    $('.toggle-featured').on('change', function () {
        let bannerId = $(this).data('id');
        let isActive = $(this).is(':checked');

        $.ajax({
            url: "{% url 'toggle_featured_is_active' %}",
            type: "POST",
            data: {
                'id': bannerId,
                'is_active': isActive,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                console.log("Status updated");
            },
            error: function (xhr) {
                alert("Something went wrong!");
            }
        });
    });
});
    </script>
</body>

</html>