{% extends 'adminpanel/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-title-wrapper">
            <div class="page-title-box">
                <h4 class="page-title bold">Contact Enquiry Details</h4>
            </div>
            <div class="breadcrumb-list">
                <ul>
                    <li class="breadcrumb-link">
                        <a href="enquiry.html"><i class="fas fa-envelope mr-2"></i>Contact Enquiries </a>
                    </li>
                    <li class="breadcrumb-link active">Contact Details</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- Products Orders Start -->
<div class="enq-detail-wrapper">

    <table class="table enq-detail-table">
        <tbody>
            <tr>
                <th>Full Name</th>
                <td>{{ contact.full_name }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ contact.destination }}</td>
            </tr>
            
            <tr>
                <th>Phone Number</th>
                <td>{{ contact.contact_number }}</td>
            </tr>
            <tr>
                <th>Email ID</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
            <tr>
                <th>Enquiry Date</th>
                <td>{{ contact.created_at }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{% url 'admin_contact_list' %}" class="back-btn">← Back to List</a>
</div>



{% endblock %}