{% extends 'base.html' %}
{% load static %}
{% block content %}


<!------------ Hero ------------>
<div class="sub-page-hero intrnl-tour-wrapper">
    <div class="tour-hero-content">
        <h1>International Tours</h1>
        <p>Explore the World with Eastora Holidays</p>
    </div>
</div>

<!---------- International Destinations ---------->
<section class="recmntn-wrapper subpage-packages">
    <img class="package-cr-shape" src="{% static 'assets/images/plane-root-shape.webp' %}" alt="Airoplane Shape">
    <img class="trolly-bb-shape" src="{% static 'assets/images/trolley-bag.webp' %}" alt="Trolly Bag">
    <div class="container recmntn">
         <div class="recmntn-content">
            <div class="sec-title">
                <h6>TOP DESTINATION</h6>
                <h2>
                    International Destinations
                </h2>
            </div>
            <p> At Eastora Holidays, we believe that travel is more than just visiting new places — it's about
                discovering cultures, making unforgettable memories, and experiencing the magic that every corner of the
                world holds. Our international tour packages are thoughtfully crafted to offer travelers of all types —
                from solo explorers and couples to families and corporate groups — a seamless and enriching global
                travel experience </p>

            <h3>Handpicked Destinations, Hassle-Free Travel</h3>
            <p> Whether you dream of strolling through the romantic streets of Paris, experiencing the northern lights
                in Scandinavia, cruising along the Mediterranean, or diving into the vibrant cultures of Southeast Asia,
                Eastora Holidays offers a range of meticulously planned international itineraries. Our team takes care
                of everything — from visa support and flights to guided tours and curated experiences — so that you can
                travel stress-free and focus on enjoying every moment.</p>


            <h3>Personalized Journeys to Suit Every Traveller</h3>
            <p> We understand that no two travelers are the same. That’s why our international packages come with
                customizable options that align with your preferences, budget, and travel pace. Whether it’s a luxury
                escape, an adventure-filled journey, or a cultural immersion, Eastora Holidays brings you world-class
                experiences with a personal touch — making your international holiday truly your own.</p>

        </div>

        <div class="recmntn-package-wrapper internation-top-destini">

            <!-- Item 1 -->
            {% for category in international_subcategories %}
            <div class="recmntn-package-item">
                {% if category.card_image %}
                <a href="{% url 'international_subcategory_detail' subcategory_slug=category.slug %}">
                <img src="{{ category.card_image.url }}" alt="{{ category.name }}">
                </a>
                {% else %}
                <img src="{% static 'assets/images/default-image.webp' %}" alt="Default Image">
                </a>
                {% endif %}
                <div class="recmntn-package-info">
                    <div class="recmntn-package-info-details">
                        <h3>{{ category.name }}</h3>
                        <span>
                            {% if category.has_children %}
                                {{ category.children|length }} Destinations
                            {% else %}
                                {{ category.package_count }} Tours
                            {% endif %}
                        </span>
                    </div>
                    <div class="recmntn-package-info-cta">
                        <div class="recmntn-package-info-cta-icon">
                            {% if subcategories %}
                                {% for sub in subcategories %}
                                    <a href="{% url 'international_subcategory_detail' subcategory_slug=sub.slug %}">
                                        <img src="{% static 'assets/images/icons/arrow-right.webp' %}" alt="Right Icon">
                                    </a>
                                {% endfor %}
                            {% else %}
                                {# If no subcategories, link directly to the current category's packages #}
                                <a href="{% url 'international_subcategory_detail' subcategory_slug=category.slug %}">
                                    <img src="{% static 'assets/images/icons/arrow-right.webp' %}" alt="Right Icon">
                                </a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <!-- <div class="custom-btn">
            <a href="#">Explore Top Packages</a>
        </div> -->

    </div>
</section>
<!---------- special offers ---------->
<section class="spl-offer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="offer-widget">
                    <h2>Exclusive travel discounts <br>
                        & special offers</h2>

                    <div class="offer-widget-actions">
                        <div class="custom-btn">
                            <a href="#">View All</a>
                        </div>
                        <p>Lorem Ipsum is simply dummy </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-flex justify-content-center align-items-center">
                <div class="offer-video">
                    <a href="#"><img src="{% static 'assets/images/play-btn.webp' %}" alt="Play Button"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------- First Content Section ---------->
<section class="sub-page-first-content-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="first-content-sec-img">
                    <img src="{% static 'assets/images/content-sec-img-1.webp' %}" alt="International Destinations ">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="first-content-sec-content">
                    <div class="sec-title">
                        <!-- <h6>LOREM IPSUM</h6> -->
                        <h3>Your Gateway to the World’s Most Captivating Destinations</h3>
                    </div>
                    <p>At Eastora Holidays, we bring the world closer to you with thoughtfully designed international tour packages that cover some of the most sought-after travel destinations. From the glittering skylines of Dubai and the futuristic vibes of Singapore to the serene beaches of Phuket, Bali, and the Maldives, our tours offer a blend of adventure, relaxation, and cultural immersion.</p>
                </div>
            </div>
        </div>
    </div>
    <img class="sub-page-sec-btm-pattern" src="{% static 'assets/images/sub-page-sec-btm-pattern.webp' %}"
        alt="BG Pattern">
</section>
<!---------- Get In Touch ---------->
<section class="get-in-touch-wrapper sub-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sec-title">
                    <h6>Get In Touch</h6>
                    <h2>
                        Customize Your<br>
                        Dream Trip
                    </h2>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the </p>

                <div class="get-in-touch-form">
                    <form action=" " method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" placeholder="Full Name" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="destination" placeholder="Destination" required>
                            </div>
                            <div class="col-lg-12">
                                <input type="text" name="number" placeholder="Contact Number" required>
                            </div>
                            <div class="col-lg-12">
                                <input type="email" name="email" placeholder="Email Id" required>
                            </div>
                            <div class="col-lg-12">
                                <textarea name="message" id="message" placeholder="Message" required></textarea>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit-btn">
                                    <button type="submit">Get In Touch</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
            <div class="col-lg-6"></div>
        </div>

    </div>
</section>
<!---------- Second Content Section ---------->
<section class="sub-page-second-content-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="second-content-sec-img">
                    <img src="{% static 'assets/images/content-sec-img-2.webp' %}" alt="International Destinations">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="second-content-sec-content">
                    <div class="sec-title">
                        <!-- <h6>LOREM IPSUM</h6> -->
                        <h3>Crafted Experiences Across Asia, Europe & Beyond</h3>
                    </div>
                    <p>Step into the vibrant markets and cultural delights of Bangkok and Malaysia, or journey into the mystical highlands of Bhutan and Nepal. For those craving cooler climates and charming cityscapes, our tours to Georgia and London provide a rich mix of history, nature, and contemporary lifestyle. Whether it’s a honeymoon, family getaway, or a solo escape, each destination is curated to give you an unforgettable experience.

                    <div class="sec-title"></div>
                        <h3>Hassle-Free Holidays, the Eastora Way</h3>
                    </div>
                    <p>With seamless planning, personalized itineraries, and end-to-end travel assistance, Eastora Holidays ensures every international trip is smooth and memorable. From visa support and guided tours to comfortable stays and local experiences, we take care of it all — so you can enjoy the journey, stress-free. Explore the world with confidence — travel with Eastora.</p>
                </div>
            </div>

        </div>
    </div>
    <img class="photo-frame-bg" src="{% static 'assets/images/photo-shape-bg.webp' %}" alt="Photo Frame">
</section>

{% endblock %}