{% extends 'base.html' %}
{% load static %}
{% block content %}


<!------------ Hero ------------>
<div class="sub-page-hero singapore-packages"
     style="background-image: url('{% if subcategory.banner_image_desktop %}{{ subcategory.banner_image_desktop.url }}{% else %}{% static "images/default-banner.webp" %}{% endif %}');">
    <div class="tour-hero-content">
        <h1>{{ subcategory.name }}</h1>
    </div>
</div>

<!---------- Packages ---------->
<section class="sub-page-package-listing-wrapper">
    <img class="sub-page-package-listing-bg-shape" src="{% static 'assets/images/abt-shape-top-right.webp' %}"
        alt="sub-page-package-listing">
    <div class="container">
        <div class="sub-page-package-listing-content">
            <div class="sec-title">
                <h2>{{ subcategory.name }}</h2>
            </div>
            <p>{{ subcategory.long_description }}</p>
        </div>

        <div class="sub-page-package-listing">
            {% if subcategories %}
                {% for subcat in subcategories %}
                    <div class="recmntn-package-item">
                        <a href="{% url 'india_subcategory_detail' subcategory_slug=subcat.slug %}">
                            <img src="{{ subcat.card_image.url }}" alt="{{ subcat.name }}">
                        </a>
                        <div class="recmntn-package-info">
                            <div class="recmntn-package-info-details">
                                <h3>{{ subcat.name }}</h3>
                                <span>{{ subcat.package_count }} Tours</span>
                            </div>
                            <div class="recmntn-package-info-cta">
                                <div class="recmntn-package-info-cta-icon">
                                    <a href="{% url 'india_subcategory_detail' subcategory_slug=subcat.slug %}">
                                        <img src="{% static 'assets/images/icons/arrow-right.webp' %}" alt="Right Icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            
            {% elif packages %}
                {% for package in packages %}
                <div class="sub-page-package-listing-item">
                    <div class="sub-page-package-listing-item-img">
                        <a href="{% url 'package_detail' subcategory_slug=package.category.slug package_slug=package.slug %}">
                            <img src="{{ package.card_image.url }}" alt="{{ package.title }}">
                        </a>
                    </div>
                    <div class="sub-page-package-listing-item-details">
                        <h4>{{ package.title_main }}</h4>
                        <p>{{ package.short_description|slice:":103" }}{% if package.short_description|length > 103 %}...{% endif %}</p>
                        <div class="sub-page-package-listing-item-details-btn">
                            <a href="{% url 'package_detail' subcategory_slug=package.category.slug package_slug=package.slug %}">
                                Know More
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            {% else %}
                <p>No packages or subcategories available.</p>
            {% endif %}
        </div>


    </div>
</section>
<!---------- Get A Discount  ---------->
<section class="get-a-discount-wrapper d-none">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="get-a-discount-content">
                    <div class="sec-tilte">
                        <h2>Get A Discount </h2>
                    </div>
                    <h3>Lorem Ipsum is <br>
                        simply dummy text</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
                <div class="get-a-discount-cta">
                    <div class="custom-btn">
                        <a href="#">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sub-page-package-content-wrapper d-none">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sub-page-package-conten-img">
                    <img src="{% static 'assets/images/sub-page-package-conten-img-1.webp' %}" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sub-page-package-content">
                    <div class="sec-title">      
                        {% if subcategory.tittle_second %}
                            <h2>{{ subcategory.tittle_first|safe }}</h2>
                        {% endif %}
                    </div>
                    <p><p>{{ subcategory.content_first | safe }} </p></p>

                </div>
            </div>

        </div>
        <div class="row sub-page-package-content-snd-row">
            <div class="col-lg-6 order-lg-2">
                <div class="sub-page-package-conten-img">
                    <img style="margin: auto;display: block;"
                        src="{% static 'assets/images/sub-page-package-conten-img-2.webp' %}" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="sub-page-package-content">

                    <div class="sec-title">          
                        {% if subcategory.tittle_second %}
                            <h2>{{ subcategory.tittle_second|safe }}</h2>
                        {% endif %}
                    </div>
                    <p><p>{{ subcategory.content_second | safe }} </p></p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}