{% extends 'base.html' %}
{% load static %}
{% block content %}

<!------------ Hero ------------>
<div class="sub-page-hero about-us">
    <div class="tour-hero-content">
        <h1>ABOUT US</h1>
    </div>
</div>
<!---------- About Us ---------->
<section class="abt-page-abt-sec-wrapper">
    <div class="container">
        <div class="sec-title">
            <h6>About Us</h6>
            <h2>Discover Destinations. Experience <br>
                Moments. Travel with Eastora Holidays </h2>
        </div>

        <div class="abt-page-abt-sec-content-wrapper">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4 order-lg-2">
                            <div class="abt-page-abt-sec-img">
                                <img src="{% static 'assets/images/abt-page-abt-sec-img.webp' %}" alt="About Us">
                                <div class="counter-inner coutr-1">
                                    <h3 class="counter" data-target="100">100+</h3>
                                    <p>Tours</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 order-lg-1">
                            <div class="abt-page-abt-sec-content">
                                <p>At Eastora Holidays, we believe that travel is more than just visiting places it's
                                    about creating lasting memories, experiencing cultures, and discovering yourself
                                    along the way. Creating unforgettable travel experiences across India and
                                    beyond.<br><br>


                                    Headquartered in Kochi, Kerala, we are a passionate tour and destination management
                                    company offering customized travel solutions across India and the globe. Whether
                                    you're a solo traveller, a family, a group of friends, or a corporate client, our
                                    mission is to craft journeys that are seamless, enriching, and deeply
                                    personal.<br><br>


                                    From the golden dunes of Rajasthan to the pristine beaches of Bali, from spiritual
                                    sojourns in Varanasi to luxury escapes in the Maldives every itinerary we design is
                                    tailored with care, backed by local expertise, and delivered with a commitment to
                                    excellence..

                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 abt-page-abt-sec-right">
                    <img class="abt-page-abt-sec-shape" src="{% static 'assets/images/plane-root-shape.webp' %}" alt="Plane">
                    <div class="abt-page-abt-sec-content">
                        <p>Our goal is to provide individualized vacation experiences that fit your interests and budget
                            while guaranteeing a smooth transition from preparation to memories.</p>
                        <!-- <h3>Lorem Ipsum Is <br>
                a dummy text</h3> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <img class="abt-page-abt-sec-glob-shape" src="{% static 'assets/images/glob-shape.webp' %}" alt="Glob Shape">
</section>
<!---------- Services ---------->
<section class="abt-page-ser-sec-wrapper">
    <img class="abt-page-ser-sec-cloud" src="{% static 'assets/images/cloud-down.webp' %}" alt="Cloud">
    <div class="container">
        <div class="abt-page-ser-item-wrapper">

            <div class="abt-page-ser-item">
                <div class="abt-page-ser-item-img">
                    <img src="{% static 'assets/images/icons/abt-ser-1.webp' %}" alt="Loremipsum">
                </div>
                <div class="abt-page-ser-item-details">
                    <h4>Domestic and International Tours </h4>
                    <p>Discover the diverse charm of India, from the serene backwaters of Kerala to the majestic
                        Himalayan landscapes. We also offer curated travel experiences to global destinations including
                        Dubai, Maldives, Malaysia, Thailand, Nepal, Turkey, and Europe. </p>
                </div>
            </div>

            <div class="abt-page-ser-item">
                <div class="abt-page-ser-item-img">
                    <img src="{% static 'assets/images/icons/abt-ser-1.webp' %}" alt="Loremipsum">
                </div>
                <div class="abt-page-ser-item-details">
                    <h4>Hotels, Flights & Transport </h4>
                    <p>Choose from a wide range of options, from budget-friendly stays to luxurious resorts, along with
                        convenient flight bookings and ground transportation. </p>
                </div>
            </div>

            <div class="abt-page-ser-item">
                <div class="abt-page-ser-item-img">
                    <img src="{% static 'assets/images/icons/abt-ser-1.webp' %}" alt="Loremipsum">
                </div>
                <div class="abt-page-ser-item-details">
                    <h4>Personalised Travel Solutions </h4>
                    <p>Our dedicated team is here to simplify your journey with tailor-made travel plans designed to
                        suit your preferences and to assist you at any point of time of your travel period.</p>
                </div>
            </div>


        </div>
    </div>
</section>
<!---------- Our Journey ---------->
<section class="our-jrny-wrapper">
    <div class="container d-none">
        <div class="row">
            <div class="col-lg-6">
                <div class="our-jrny-img">
                    <img src="{% static 'assets/images/our-journy.webp' %}" alt="Our Journy">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="our-jrny-content">
                    <div class="sec-title">
                        <h2>Our Journey Memorable <br>
                            Adventures Worldwide</h2>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an Lorem Ipsum is simply dummy text of
                        the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since the
                        1500s, when an </p>

                    <!-- <div class="custom-btn">
                        <a href="#">Explore Packages</a>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
    <img class="our-jrny-btm-pattern" src="{% static 'assets/images/sub-page-sec-btm-pattern.webp' %}" alt="BG Pattern">
    <img class="our-jrny-canera-shape" src="{% static 'assets/images/abt-shape-top-right.webp' %}" alt="Camera Shape">
</section>
<!---------- Our Expert Team ---------->
<section class="our-expert-wrapper" style="display: none;">
    <div class="container">
        <div class="our-expert-content">
            <div class="sec-title">
                <h2>Our Expert Team</h2>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an Lorem Ipsum is simply dummy text of the
                printing
                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when
                an </p>
        </div>

        <div class="team-wrapper">

            <div class="team-item">
                <div class="team-item-img">
                    <img src="{% static 'assets/images/team-member-1.webp' %}" alt="Team Member">
                </div>
                <div class="team-info">
                    <h4>Lorem Ipsum is </h4>
                    <p>Lorem Ipsum is </p>
                </div>
            </div>

            <div class="team-item">
                <div class="team-item-img">
                    <img src="{% static 'assets/images/team-member-2.webp' %}" alt="Team Member">
                </div>
                <div class="team-info">
                    <h4>Lorem Ipsum is </h4>
                    <p>Lorem Ipsum is </p>
                </div>
            </div>
            <div class="team-item">
                <div class="team-item-img">
                    <img src="{% static 'assets/images/team-member-3.webp' %}" alt="Team Member">
                </div>
                <div class="team-info">
                    <h4>Lorem Ipsum is </h4>
                    <p>Lorem Ipsum is </p>
                </div>
            </div>
            <div class="team-item">
                <div class="team-item-img">
                    <img src="{% static 'assets/images/team-member-4.webp' %}" alt="Team Member">
                </div>
                <div class="team-info">
                    <h4>Lorem Ipsum is </h4>
                    <p>Lorem Ipsum is </p>
                </div>
            </div>
            <div class="team-item">
                <div class="team-item-img">
                    <img src="{% static 'assets/images/team-member-5.webp' %}" alt="Team Member">
                </div>
                <div class="team-info">
                    <h4>Lorem Ipsum is </h4>
                    <p>Lorem Ipsum is </p>
                </div>
            </div>
            <div class="team-item">
                <div class="team-item-img">
                    <img src="{% static 'assets/images/team-member-6.webp' %}" alt="Team Member">
                </div>
                <div class="team-info">
                    <h4>Lorem Ipsum is </h4>
                    <p>Lorem Ipsum is </p>
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock %}